# Upload all files except node_modules to Google Cloud.
# If this file wasn't here, .gitignore would stop the .env files from being
# uploaded. Then the application wouldn't get the environment variables that it
# needs to run.
node_modules/*
