@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: 'Quicksand';
  src: url('/Quicksand.ttf');
}

:root [data-theme="skeleton"] {
  --theme-font-family-base: 'Quicksand', sans-serif;
  --theme-font-family-heading: 'Quicksand', sans-serif;
}

.modal .input-group :focus {
  outline-style: none !important;
}

.required::after {
  content: ' *';
  @apply text-error-500-400-token;
}
